.conteudo-login {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 20px;
  
    @media screen and (max-width: 768px) {
      flex-direction: column;
      height: auto;
      justify-content: flex-start;
    }
  }
  
  .secao-imagem {
    width: 55%;
  
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  
  .imagem-esquerda {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  
  .direita {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100vh;
  
    @media screen and (max-width: 768px) {
      width: 100%;
      height: auto;
    }
  }
  
  .form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
  
    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 20px;
    }
  }
  
  .logo {
    width: 100px;
    margin-bottom: 20px;
  }
  
  h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .grupo-formulario {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
  
    @media screen and (max-width: 768px) {
      margin-bottom: 15px;
    }
  
    input {
      width: 100%;
      background-color: #f9f9f9;
      color: #666;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-size: 16px;
  
      &::placeholder {
        color: #bbb;
        opacity: 1;
      }
  
      &:focus {
        color: #666;
        outline: none;
        border-color: #aaa;
      }
  
      @media screen and (max-width: 768px) {
        padding: 12px;
        font-size: 14px;
      }
    }
  }
  
  .grupo-senha {
    position: relative;
    width: 100%;
  }
  
  .input-senha {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .input-senha input {
    width: 100%;
    padding-right: 40px; /* espaço para o ícone */
  }
  
  .input-senha .icone {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #aaa;
  }
  
  .input-senha .icone i {
    font-size: 18px;
  }
  
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #00b74a;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  
    &:hover {
      background-color: #00993b;
    }
  
    @media screen and (max-width: 768px) {
      padding: 12px;
      font-size: 14px;
    }
  }
  
  .link-cadastro {
    margin-top: 20px;
    font-size: 14px;
  
    span {
      color: #555;
      padding-right: 5px;
    }
  
    a {
      color: #00b74a;
      text-decoration: none;
      font-weight: bold;
  
      &:hover {
        text-decoration: underline;
      }
    }
  
    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  }