<nav class="navbar navbar-expand-lg" id="nav-bar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/Navbar.svg" alt="Logo Mochila" class="logo">
      <span class="logo-text">
        Guia do mochileiro <br> <span class="fatecano-text">Fatecano</span>
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-list"></i> <!-- Ícone de menu -->
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">
            <i class="bi bi-house-door-fill icon"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="bi bi-bell-fill icon"></i> Notificações
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="bi bi-book-fill icon"></i> Matérias
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="bi bi-star-fill icon"></i> Valores
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="bi bi-box-arrow-right icon"></i> Sair
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container content">
  <div class="title-subtitle">
    <h1 class="title">Termos</h1>
    <p class="subtitle">Qual termo gostaria de acessar hoje?</p>
  </div>
  <button class="btn add-class-btn">+ Adicionar turma</button>
</div>
<div class="container">
  <div class="row justify-content-between">
    <div class="col-md-3 mb-4">
      <div class="term-card" style="background-color: #d3f2c4;">1º Termo</div>
    </div>
    <div class="col-md-3 mb-4">
      <div class="term-card" style="background-color: #f0e4d7;">2º Termo</div>
    </div>
    <div class="col-md-3 mb-4">
      <div class="term-card" style="background-color: #a3df8d;">3º Termo</div>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-md-3 mb-4">
      <div class="term-card" style="background-color: #a3df8d;">4º Termo</div>
    </div>
    <div class="col-md-3 mb-4">
      <div class="term-card" style="background-color: #fff6cc;">5º Termo</div>
    </div>
    <div class="col-md-3 mb-4">
      <div class="term-card" style="background-color: #95b4a6;">6º Termo</div>
    </div>
  </div>
</div>
